@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Welcome to the most secure bitcoin wallet ever ;)</h1>
    <p>Please <a asp-action="Login">login</a> or <a asp-action="Register">register</a>.</p>
</div>
