@model dynamic
@{
    ViewData["Title"] = "Register";
}

<div class="container">
    @if (@ViewBag.Message != null)
    {
        <h3 class="alert alert-danger">@ViewBag.Message</h3>
    }

    <form asp-action="Register" method="post">
        <div class="form-control">
            <div class="row align-items-center">
                <label class="col">Username</label>
                <div class="col-sm-11">
                    <input type="text" name="username" id="username" class="form-control" autofocus/>
                </div>
            </div>
            <div class="row align-items-center">
                <label class="col">Password</label>
                <div class="col-sm-11">
                    <input type="password" name="password" id="password" class="form-control"/>
                </div>
            </div>
        </div>

        <button class="btn btn-success" style="margin-top: 16px" type="submit">Register</button>
    </form>
</div>
